# Environment
.env

# Database
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Distribution
*.egg-info/
dist/
build/

# macOS
.DS_Store

# Logs
*.log
